*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(30, 55, 145, 0.7),rgba(30, 55, 145, 0.7)),url(/images/flight00.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box p{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.herob-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.herob-btn:hover{
    border: 1px solid #19346e;
    background: #19346e;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 62px;
    }
    .nav-links nl li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;    
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*-------------course-----------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}
h2{
    font-size: 18px;
    margin: 0;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #19346e;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #fff;
}
h5{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1.0);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*---------call to action----------*/

.cta{
    margin: 100px auto;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/flight01.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media (max-width: 700px) {
    .cta h1{
        font-size: 24px;
    }
}
/*---------footer----------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}

/*-----------about us page--------------*/
.sub-header{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/airport02.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-co h1{
    padding-top: 0;
}
.about-co p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
    margin-right: 10px;
}
.red-btn:hover{
    color:#fff ;
}

.blue-btn{
    border: 1px solid #19346e;
    background: transparent;
    color: #19346e;
    margin-right: 10px;
}
.blue-btn:hover{
    color:#fff ;
}
/*-----------contact us--------------*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    padding: 0;
}
.contact-col input,.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
/*-----------booking--------------*/
.booking-header{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/images/airport02.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    height: 100%; /* Set the desired height for your scrolling section */
    overflow: auto; /* Enable scrolling */
    padding: 20px; /* Optional: Add padding to the content inside */
}
.booking-header h1{
    margin-top: 100px;
    font-weight: 600;
    margin-bottom: 30px;
}

.booking-header nav a img{
    margin-right: auto;
}
.booking-header nav {
    display: flex;
    align-items: center;
}
.input-date{
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    font-size: 16px;
}

/* Style for select boxes */
.select-option {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    font-size: 16px;
}

.search-col{
    margin-top: 20px;
    padding-top: 20px;
    flex-basis: 50%;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px 0;
    box-sizing: border-box;
}

.search-col form{
    width: 100%;
}

.search-col input,.searh-col textarea{
    width: 20%;
    height: 40px;
    padding: 15px;
    margin-bottom: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.search-results {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .ticket {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */

  }

  .ticket .herob-btn,
   .ticket .blue-btn,
   .ticket .hero-btn,
   .ticket .red-btn {
    padding: 15px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    width: 80px;
    text-align: center;
  }

  
.ticket .herob-btn a,
.ticket .blue-btn a,
.ticket .hero-btn a,
.ticket .red-btn a {
  display: flex;
  align-items: center;
}

  .ticket img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }

  .flight-details {
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    flex: 1;
  }

  .flight-details h2, .flight-details p {
    color: black;
    text-align: left;
    margin: 0;
    margin-left: 10px;
  }

  .flight-details h2 {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .flight-details p {
    font-size: 14px;
    
  }

  .flight-details .bookingID{
    font-size: 14px;
    color: #0f1cd4;
  }

  .flight-details .confirmed{
    font-size: 14px;
    color: #009805;
    font-weight: bold;
  }

  .flight-details .waiting{
    font-size: 14px;
    color: #e68a00fa;
    font-weight: bold;
  }

  .flight-details .canceled{
    font-size: 14px;
    color: #df0000;
    font-weight: bold;
  }

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  /* Remove opacity property */
}

.open-popup{
visibility: visible;
top: 50%;
transform:translate(-50%,-50%) scale(1);
}


.popup img{
  width:100px;
  margin-top: -50px;
  border-radius:50%;
}

.popup h3{
  font-size: 38px;
  font-weight: 500;
  margin: 10px 0 10px;
  color: black;
}
/*-----------login--------------*/
.login-header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(30, 55, 145, 0.7),rgba(30, 55, 145, 0.7)),url(/images/flight00.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgb(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
    overflow: hidden;
}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,#19346e,#030f28);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s;
}

.signin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.sign-in-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    min-width: 238px;
    padding: 0 10px;
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.sign-up-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    min-width: 238px;
    padding: 0 10px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.title{
    font-size: 35px;
    color:#19346e;
    margin-bottom: 10px;
}
.input-field{
    width: 100%;
    height: 50px;
    background: #ffffff;
    margin: 10px 0;
    border: 2px solid #19346e;
    display: flex;
    align-items: center;
}
.input-field i{
    flex: 1;
    text-align: center;
    color: #787878;
    font-size: 18px;
}

.input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}

.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel{
    z-index: 6;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    padding: 0 10px;
    min-width: 238px;
    text-align: center;
}
.panel-image{
    width: 200px;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}
.left-panel{
    pointer-events: none;
}
.content{
    padding-top: 10px;
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}
.panel h3{
    font-size: 24px;
    font-weight: 600;
}
.panel p{
    font-size: 15px;
    padding: 10px;
    color: #fff;
}

.left-panel .panel-image,
.left-panel .content{
    transform: translateX(-200%);
}
.right-panel .panel-image,
.right-panel .content{
    transform: translateX(0%);
}
.account-text{
    display: none;
}
/*Animation*/
.container.sign-up-mode::before{
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .panel-image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .panel-image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(0%);
}
.container.sign-up-mode .sign-in-form{
    opacity: 0;
}
.container.sign-up-mode .sign-up-form{
    opacity: 1;
}
.container.sign-up-mode .right-panel{
    pointer-events: none;
}
.container.sign-up-mode .left-panel{
    pointer-events: all;
}
@media (max-width:779px){
    .container{
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width:635px){
    .container::before{
        display: none;
    }
    .sign-up-form{
        display: none;
        width: 80%;
    }
    .sign-in-form{
        width: 80%;
    }
   
    .container.sign-up-mode2 .sign-up-form{
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 .sign-in-form{
        display: none;
    }
    .panels-container{
        display: none;
    }
    .account-text{
        display: initial;
        margin-top: 20px;
    }
}
@media (max-width:320px){
    .sign-up-form{
        width: 90%;
    }
    .sign-in-form{
        width: 90%;
    }
}

