<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flight Booking System</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="icon" href="images/logoP.png" type="image/png">

    </head>
    <body>
        <section class="booking-header">
            <nav>
                <a href="/index"><img src="images/logoP.png"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/booking">Booking</a></li>
                        <a href="/login" class="hero-btn">Login</a>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
                <h1>Booking</h1>

                <button onclick="showSearchView()" class="hero-btn">Search a Flight</button>
                <button onclick="showBookingHistory()" class="hero-btn">Booking History</button>

                
            <div class="raw" id="searchView">
                <div class="search-col">
                    <form onsubmit="redirectToSearchPage()">
                        <input type="date" class="input-date" placeholder="When are you leaving?" required id="departureDate">
                        <select required id="source" class="select-option">
                            <option value="" disabled selected>Select your location</option>
                            <option value="Sultan Abdul Halim Airport">Sultan Abdul Halim Airport (Alor Setar)</option>
                            <option value="Kuala Lumpur International Airport 2">Kuala Lumpur International Airport 2 (KLIA2)</option>
                        </select>
                        <select required id="destination" class="select-option">
                            <option value="" disabled selected>Select your destination</option>
                            <option value="Kuala Lumpur International Airport">Kuala Lumpur International Airport (KLIA)</option>
                            <option value="Penang International Airport">Penang International Airport (Penang)</option>
                        </select>
                        <button type="submit" class="hero-btn">Search</button>
                    </form>
                    
                </div>
            </div>


            
            <div class="raw" id="historyView" style="display: none;">
                <div class="search-col">
                    <div class="search-results" id="historyResultsContainer">
                        </div>
                    <div class="popup" id="popupSuccess">
                        <img src="images/question mark.jpg">
                        <h3>Confirmation</h3>
                        <p>Are you sure you want to cancel your booking?</p>
                        <button type="button" class="herob-btn blue-btn" onclick="cancelBooking()">Yes</button>
                        <button type="button" class="hero-btn red-btn" onclick="closePopup()">No</button>
                    </div>
                        



        </section>

        <!------------Footer------->
        <section class="footer">
            <h4>About Us</h4>
            <p>FlightHub is a project developed for WIA1002  Data Structure <br>
                using SpringBoot, MySQL, and HTML.</p>
            <div class="icons">
                <a href="https://github.com/iamAden/Flight-Ticket-Booking-System" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <p>Made with <i class="fa fa-heart-o"></i> by DS Group 40</p>
        </section>

        <script>
            function viewHistory() {

                // Clear existing booking items
                var historyResultsContainer = document.getElementById('historyResultsContainer');
                historyResultsContainer.innerHTML = '';

                // fetch bookings based on userId
                var url = '/history'

                fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log("Data:", data); // Log the entire data object
                    var bookings = data.bookingHistory;
                    if (bookings) {
                        var historyResultsContainer = document.getElementById('historyResultsContainer');
                        bookings.forEach(function (booking) {
                            console.log("Booking:", booking); // Log
                            historyResultsContainer.innerHTML += createHistoryTicket(booking);
                        });
                    }
                    else {
                        // Handle other cases, e.g., display an error message
                        console.error('Error:', data.message);
                        // display it on the page
                        alert('Error: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
            }

            // Function to create a ticket element
            function createHistoryTicket(booking) {
                
                // Determine the image source based on the company
                let imageSrc;
                if (booking.flight.company === 'AirAsia') {
                    imageSrc = 'images/flight04.jpg';
                }
                else if (booking.flight.company === 'Malaysia Airlines'){
                    imageSrc = 'images/Malaysia-airline.png';
                }
                else if(booking.flight.company === 'Batik Air'){
                    imageSrc = 'images/Batik-Air.png';
                }

                //color of bookingstatus & disable button for canceled
                let bookingStatusClass;
                let disable;
                if(booking.bookingStatus === 'CONFIRMED'){
                    bookingStatusClass='confirmed';
                    disable='';
                }
                else if(booking.bookingStatus === 'WAITING'){
                    bookingStatusClass='waiting';
                    disable='';
                }
                else if(booking.bookingStatus === 'CANCELED'){
                    bookingStatusClass='canceled';
                    disable='disabled';
                }
                
                console.log("Ticket:",booking);
                var ticket = "<div class='ticket'>" +
                "<img src='" + imageSrc + "' alt='Flight Image'>" +
                "<div class='flight-details'>" +
                "<h2>Flight From " + booking.flight.source + "</h2>"+                           
                "<h2>To " + booking.flight.destination + "</h2>" +
                "<h2>" + booking.flight.flightName + "</h2>" +
                "<p class='bookingID'>Booking ID: " + booking.id + "</p>" +
                "<p>Date: " + booking.flight.date + "</p>" +
                "<p>Departure: " + booking.flight.departure +
                "&nbsp;&nbsp;&nbsp;&nbsp;Arrival: " + booking.flight.arrival + "</p>" +
                "<p>Passenger Name: " + booking.passengerName +
                "&nbsp;&nbsp;&nbsp;&nbsp;Passport Number: " + booking.passengerPassportNo + " </p>" +
                "<p>Email: " + booking.passengerEmail +
                "&nbsp;&nbsp;&nbsp;&nbsp;Phone Number: " + booking.passengerContactNo + "</p>" +
                "<p class='" + bookingStatusClass + "'>Booking Status: " + booking.bookingStatus + "</p></div>";

                // Conditionally include the buttons based on the booking status
                if (booking.bookingStatus !== 'CANCELED') {
                    ticket += "<a href='#' onclick='redirectToEditPage(" + booking.id + ")' class='herob-btn blue-btn'> Edit</a>" +
                        "<a href='#' class='hero-btn red-btn' onclick='openPopup(" + booking.id + ")'>Cancel</a>";
                }

                // Close the ticket div
                ticket += "</div>";

                    console.log(ticket);
                    return ticket;
                }


        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
        
        // Get today's date in the format YYYY-MM-DD
        // var today = new Date().toISOString().split('T')[0];
                    
        // Set the minimum attribute of the input element to today's date
        // document.getElementById("departureDate").setAttribute("min", today);

        //submit search inputs
        function redirectToSearchPage() {
            event.preventDefault();
            var date = document.getElementById('departureDate').value;
            var source = document.getElementById('source').value;
            var destination = document.getElementById('destination').value;

            // Replace %20 with +
            source = source.replace(/%20/g, '+');
            destination = destination.replace(/%20/g, '+');

            var searchData = {
                date: date,
                source: source,
                destination: destination
            };

            var queryString = new URLSearchParams(searchData).toString();
            var url = '/date?' + queryString; // Change to /date instead of /search
            console.log(url);
            // Redirect to date.html with the parameters
            
            window.location.href = url;
        }


        function redirectToEditPage(bookingId) {
            var url = '/edit?bookingId=' + bookingId; // Change to /date instead of /search
            console.log(url);
            window.location.href = url;

        }



        var searchView = document.getElementById("searchView");
        var historyView = document.getElementById("historyView");


        function showBookingHistory() {
            searchView.style.display = "none";
            historyView.style.display = "block";
            viewHistory();
        }

        function showSearchView() {
            historyView.style.display = "none";
            searchView.style.display = "block";
        }

        let popup = document.getElementById("popupSucess");

        let rememberedBookingId;

        function rememberBookingId(bookingId){
            rememberedBookingId= bookingId;
        }
        // Function to open the popup to display successful cancel booking
        function openPopup(bookingId) {
            event.preventDefault();
            rememberBookingId(bookingId);
            let popupSuccess = document.getElementById("popupSuccess");

            if (popupSuccess) {
                // Your code to open the popup using bookingId
                console.log("Opening popup for booking id: " + bookingId);
                rememberedBookingId = bookingId;
                popupSuccess.classList.add("open-popup");
                // Store a flag in localStorage to indicate that the popup should be open
                localStorage.setItem("popupOpen", "true");
            } else {
                console.error("Element with id 'popupSuccess' not found");
            }
        }

        // Function to cancel the booking using fetch
        function cancelBooking() {
            event.preventDefault();
            var url = '/cancel/' + rememberedBookingId;
            console.log("Canceling booking with id: " + rememberedBookingId);

            // Define the URL for canceling the booking
            var url = '/cancel/' + rememberedBookingId;

            // Use fetch to send a DELETE request to the server
            fetch(url, {
                method: 'DELETE',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Successful cancellation
                console.log('Booking canceled successfully');
                return response.json();
            })
            .then(data => {
                // Handle the response data as needed
                console.log(data);

                // Close the popup and perform additional actions
                let popupSuccess = document.getElementById("popupSuccess");
                popupSuccess.classList.remove("open-popup");
                localStorage.removeItem("popupOpen");
                closePopupDeleteBooking();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                // Handle errors or display an error message
            });
        }



        function closePopupDeleteBooking() {
            popupSuccess.classList.remove("open-popup");
            // Remove the flag from localStorage when closing the popup
            localStorage.removeItem("popupOpen");
            // Redirect to the homepage
            window.location.href = "/booking";
        }

        // Function to close the popup
        function closePopup() {
        popupSuccess.classList.remove("open-popup");
        // Remove the flag from localStorage when closing the popup
        localStorage.removeItem("popupOpen");
        // Redirect to the homepage
        window.location.href = "/booking";
        }
        
        // Check if the flag is present in localStorage when the page loads
        document.addEventListener("DOMContentLoaded", function () {
            if (localStorage.getItem("popupOpen") === "true") {
                openPopup();
            }
        });
       </script>
    </body>
</html>