<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">

            <!--Swiper CSS-->
            <link rel="stylesheet" href="css/swiper-bundle.min.css">
           <!--CSS-->
            <link rel="stylesheet" href="css/scroll.css">

        </head>

        <style>
            body {
                font-family: 'Arial', sans-serif;
                height: 100vh;
                width: 100%;
                min-height: 100vh;
                display:flex;
                align-items:center;
                justify-content:center;
                padding: 0;
                background-color: #f4f4f4;
                background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/airport02.jpg);
                background-position: center;
                background-size: cover;
            }

        </style>
        <body>
            <section class="booking-header">
                <div class="swiper-container swiper">     
                        <div class="swiper-content swiper-wrapper">  
                   
                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">02/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">03/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>


                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">04/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">05/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">06/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">07/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">08/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">09/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">10/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">11/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">12/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">13/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">14/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>    
                     
                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">15/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>    

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">16/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">17/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>


                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">18/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">19/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">20/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">21/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                        <div class="swiper-card swiper-slide" onclick="handleCardClick()">
                            <div class="card-content">
                                <div class="date">22/02/2024</div>
                                <div class="price">RM108</div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
         
                </div>

                <div class="search-results">
    
                    <div class="flight-item">
                      <img src="images/flight04.jpg" alt="Flight Image">
                      <div class="flight-details">
                        <h2>Flight from KL to Singapore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FlightHub001</h2>
                        <p>Departure: 2024-01-31 08:00 AM</p>
                        <p>Arrival: 2024-01-11 09:00 AM</p>
                        <p class="available-seats">Available Seats: 5</p>
                      </div>
                      <div class="flight-price">RM68</div>
                      <button class="herob-btn blue-btn" onclick="bookingForm()">Book Now</button>
                    </div>
                
                    <div class="flight-item">
                      <img src="images/flight04.jpg" alt="Flight Image">
                      <div class="flight-details">
                        <h2>Flight from KL to Singapore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FlightHub002</h2>
                        <p>Departure: 2024-01-11 01:00 PM</p>
                        <p>Arrival: 2024-01-11 02:00 PM</p>
                        <p class="available-seats">Available Seats: 0</p>
                      </div>
                      <div class="flight-price">RM70</div>
                      <button class="herob-btn blue-btn" onclick="bookingForm()">Book Now</button>
                    </div>
                
                    <div class="flight-item">
                      <img src="images/flight04.jpg" alt="Flight Image">
                      <div class="flight-details">
                        <h2>Flight from KL to Singapore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FlightHub001</h2>
                        <p>Departure: 2024-01-11 09:00 PM</p>
                        <p>Arrival: 2024-01-11 10:00 PM</p>
                        <p class="available-seats">Available Seats: 1</p>
                      </div>
                      <div class="flight-price">RM72</div>
                      <button class="herob-btn blue-btn" onclick="bookingForm()">Book Now</button>
                    </div>
                
                  </div>
            </section>
        
        </body>
        <script>
            function handleCardClick() {
                // retrive the date and get the available flight for that day with the same source and destination
                alert("show the available flight for that day with the same source and destination");
            }

            function bookingForm() {
            event.preventDefault(); // Prevents the form from submitting automatically
        
        // Perform validation here if needed
        
        // Redirect to the home page after successful validation
        window.location.href = "booking-form.html"; // Replace "home.html" with your actual home page URL
        }
        </script>
        <script src="js/swiper-bundle.min.js"></script>
        <script src="js/script.js"></script>
    
    </html>